body {
    width: 800px;
    margin: 0 auto;
    font-family: "Segoe UI", sans-serif;
}

.main-title {
    text-align: center;
}

h2 {
    font-style: italic;
}

h3 {
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
}

table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-spacing: 60px 0; /* if I increase this value the table layout is broken.*/
    margin-left: -60px; /*I put this to be able to place the table on the left of the page. I have 90px from border-spacing so I wanted to compensate it */
    margin-bottom: 30px;
}

th {
    border-bottom: 1px solid #cecfd5;
}

td {
    padding-top: 3px;
}

.date {
    vertical-align: top;
    text-align: center;
}

.locations {
    border: 0;
}

#phone {
    float: left;
}

#email {
    float: right;
}